*{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;

}

.container {
    display: flex ;
    border: 2px solid red;
    margin: 0 auto;
    width: 60%;
    margin-top: 150px ;
    height: 300px;
    border-radius: 24px;
    background-color: white;
}

